<!DOCTYPE html>
<html lang="en">

	<head>
    	<meta charset="UTF-8" />
		<title>Wizard | Fire - Admin Template</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="vendor/skycons/css/skycons.css" rel="stylesheet" />
		<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="vendor/css/pace.preloader.css" rel="stylesheet" />
		
		<link href="plugins/bootkit/css/bootkit.css" rel="stylesheet" />
		<link href="plugins/pnotify/css/pnotify.custom.css" rel="stylesheet" />					
		
		<link href="css/jquery.mmenu.css" rel="stylesheet" />
		
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/add-ons.min.css" rel="stylesheet" />
		
		<script src="plugins/modernizr/js/modernizr.js"></script>
		
		<style>
			html,body,.content,.content .row,.mainPage{
				height: 100%;
			}
			.panel .panel-heading .panel-actions a, 
			.panel .panel-heading .panel-actions i{
				width: 56px;
			}
		</style>
	</head>
	
	<body>
		<div class="navbar" role="navigation">
			<div class="sidebar" style="height: auto;">
					<div class="sidebar-collapse">
						<div class="sidebar-header">
							<img src="img/logo.png" class="img-responsive" alt="" />
						</div>
					</div>
				</div>
			
			<div class="container-fluid container-nav">
				<div class="navbar-right">					
					<div class="userbox">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<figure class="profile-picture hidden-xs">
								<img src="img/avatar.jpg" class="img-circle" alt="" />
							</figure>
							<div class="profile-info">
								<span class="name">用户名称</span>
								<span class="role"><i class="fa fa-circle bk-fg-success"></i>操作员</span>
							</div>			
							<i class="fa custom-caret"></i>
						</a>
						<div class="dropdown-menu" style="margin-top: 12px;">  
							<ul class="list-unstyled">
								<li class="dropdown-menu-header bk-bg-white bk-margin-top-15">						
									<div class="progress progress-xs  progress-striped active">
										<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
											100%
										</div>
									</div>							
								</li>
								<li>
									<a href="page-profile.html"><i class="fa fa-user"></i>个人信息</a>
								</li>
								<li>
									<a href="page-login.html"><i class="fa fa-power-off"></i>登出系统</a>
								</li>
							</ul>
						</div>						
					</div>
				</div>
			</div>		
		</div>
		
		<!-- Start: Content -->
		<div class="container-fluid content">	
			<div class="row">
				<!-- Main Page -->
				<div class="mainPage" style="padding: 90px 45px;">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="panel panel-default form-wizard" id="w1">
								<div class="panel-heading">
									<h6><i class="fa fa-tags bk-fg-warning"></i>新建项目</h6>									
									<div class="panel-actions">
										<a class="" href="index.html"><i class="fa fa-home">首页</i></a>
									</div>
								</div>
								<div class="panel-body panel-body-nopadding">
									<div class="wizard-tabs">
										<ul class="wizard-steps">
											<li class="active">
												<a href="#w1-info" data-toggle="tab" class="text-center">
													<span class="badge hidden-xs">1</span>
													项目信息
												</a>
											</li>
											<li>
												<a href="#w1-group" data-toggle="tab" class="text-center">
													<span class="badge hidden-xs">2</span>
													人员分配
												</a>
											</li>
											<li>
												<a href="#w1-file" data-toggle="tab" class="text-center bk-radius-right">
													<span class="badge hidden-xs">3</span>
													依据文件
												</a>
											</li>
											<li>
												<a href="#w1-rank" data-toggle="tab" class="text-center">
													<span class="badge hidden-xs">4</span>
													等级划分
												</a>
											</li>
										</ul>
									</div>
									<form class="form-horizontal" novalidate="novalidate">
										<div class="tab-content">
											<div id="w1-info" class="tab-pane active">
												<div class="form-group">
													<label class="col-sm-3 control-label" for="w1-username">项目名称</label>
													<div class="col-sm-7">
														<input type="text" class="form-control input-sm" name="username" id="w1-username" required>
													</div>
												</div>
												<div class="form-group">								
													<label class="col-md-3 control-label">创建时间</label>
													<div class="col-md-7">
														<div class="input-group">
															<span class="input-group-addon">
																<i class="fa fa-calendar"></i>
															</span>
															<input type="text" data-plugin-datepicker class="form-control" />
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label" for="w1-last-name">网络拓扑图</label>
													<div class="col-sm-7" style="height: 38px;">
														<input type="file" class="form-control input-sm" style="width: 100%;height:38px;" name="last-name" id="w1-last-name" required>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label" for="w1-password">项目描述</label>
													<div class="col-sm-7">
														<textarea class="form-control" rows="4"></textarea>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label" for="w1-last-name">评估范围</label>
													<div class="col-sm-7">
														<textarea class="form-control" rows="4"></textarea>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label" for="w1-last-name">系统功能</label>
													<div class="col-sm-7">
														<textarea class="form-control" rows="4"></textarea>
													</div>
												</div>
												<!--<div class="form-group">
													<label class="col-sm-3 control-label" for="w1-last-name">依据文件</label>
													<div class="col-sm-7">
														<textarea class="form-control" rows="5"></textarea>
													</div>
												</div>-->
											</div>
											<div id="w1-group" class="tab-pane">
												<div class="form-group">
													<label class="col-sm-3 control-label" for="w1-first-name">资产识别小组</label>
													<div class="col-sm-2">
														<input type="text" class="form-control input-sm" name="first-name" id="w1-project-name" required>
													</div>
													<div class="col-sm-4">
														<input type="text" class="form-control input-sm" name="first-name" id="w1-project-name" required>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label" for="w1-last-name">脆弱性识别小组</label>
													<div class="col-sm-2">
														<input type="text" class="form-control input-sm" name="first-name" id="w1-project-name" required>
													</div>
													<div class="col-sm-4">
														<input type="text" class="form-control input-sm" name="first-name" id="w1-project-name" required>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label" for="w1-last-name">威胁识别小组</label>
													<div class="col-sm-2">
														<input type="text" class="form-control input-sm" name="first-name" id="w1-project-name" required>
													</div>
													<div class="col-sm-4">
														<input type="text" class="form-control input-sm" name="first-name" id="w1-project-name" required>
													</div>
												</div>
												<div class="form-group">
													<label class="col-sm-3 control-label" for="w1-last-name">风险分析小组</label>
													<div class="col-sm-2">
														<input type="text" class="form-control input-sm" name="first-name" id="w1-project-name" required>
													</div>
													<div class="col-sm-4">
														<input type="text" class="form-control input-sm" name="first-name" id="w1-project-name" required>
													</div>
												</div>
											</div>
											<div id="w1-file" class="tab-pane">
												<div class="form-group">
													<label class="col-lg-2 col-md-2 col-sm-12 control-label">依据文件</label>
													<div class="col-lg-8 col-md-8">
														<textarea class="form-control" rows="10"></textarea>
													</div>
												</div> 
											</div>
											
											<div id="w1-rank" class="tab-pane">
												<div class="form-group">
													<label class="col-lg-4 col-md-2 col-sm-12 control-label">极高风险</label>
													<div class="col-lg-4 col-md-8">
														<input type="text" class="form-control input-sm" name="last-name" id="w1-last-name" required>
													</div>
												</div> 
												<div class="form-group">
													<label class="col-lg-4 col-md-2 col-sm-12 control-label">高风险</label>
													<div class="col-lg-4 col-md-8">
														<input type="text" class="form-control input-sm" name="last-name" id="w1-last-name" required>
													</div>
												</div> 
												<div class="form-group">
													<label class="col-lg-4 col-md-2 col-sm-12 control-label">中风险</label>
													<div class="col-lg-4 col-md-8">
														<input type="text" class="form-control input-sm" name="last-name" id="w1-last-name" required>
													</div>
												</div> 
												<div class="form-group">
													<label class="col-lg-4 col-md-2 col-sm-12 control-label">低风险</label>
													<div class="col-lg-4 col-md-8">
														<input type="text" class="form-control input-sm" name="last-name" id="w1-last-name" required>
													</div>
												</div> 
												<div class="form-group">
													<label class="col-lg-4 col-md-2 col-sm-12 control-label">极低风险</label>
													<div class="col-lg-4 col-md-8">
														<input type="text" class="form-control input-sm" name="last-name" id="w1-last-name" required>
													</div>
												</div> 
											</div>
										</div>
									</form>
									<div class="panel-footer bk-bg-very-light-gray bk-radius">
										<ul class="pager bk-margin-off">
											<li class="previous disabled">
												<a><i class="fa fa-angle-left"></i> Previous</a>
											</li>
											<li class="finish hidden pull-right">
												<a>Finish</a>
											</li>
											<li class="next">
												<a>Next <i class="fa fa-angle-right"></i></a>
											</li>
										</ul>
									</div>
								</div>								
							</div>
						</div>
					</div>
				<!-- End Main Page -->	
			</div>
		</div><!--/container-->
		
		
		<div class="clearfix"></div>		
		
		
		<!-- start: JavaScript-->
		
		<!-- Vendor JS-->				
		<!--<script src="vendor/js/jquery.min.js"></script>-->
		<script src="vendor/js/jquery-2.1.1.min.js"></script>
		<!--<script src="vendor/js/jquery-migrate-1.2.1.min.js"></script>-->
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--<script src="vendor/skycons/js/skycons.js"></script>-->	
		<!--<script src="vendor/js/pace.min.js"></script>-->
		
		<!-- Plugins JS-->
		<script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
		<script src="plugins/autosize/jquery.autosize.min.js"></script>
		<script src="plugins/jquery-validation/js/jquery.validate.js"></script>
		<script src="plugins/wizard/js/jquery.bootstrap.wizard.min.js"></script>
		<script src="plugins/pnotify/js/pnotify.custom.js"></script>	
		<script src="plugins/sparkline/js/jquery.sparkline.min.js"></script>
		
		<!-- Theme JS -->		
		<script src="js/jquery.mmenu.min.js"></script>
		<script src="js/core.min.js"></script>
		
		<!-- Pages JS -->
		<script src="js/form-wizard.js"></script>
		
		<!-- end: JavaScript-->
		
	</body>
	
</html>