<!DOCTYPE html>
<html lang="en">

	<head>
    	<meta charset="UTF-8" />
		<title>RA-网络安全风险评估系统</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="plugins/dropzone/css/dropzone.css" rel="stylesheet" />		
		
		<link href="css/jquery.mmenu.css" rel="stylesheet" />
		
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/add-ons.min.css" rel="stylesheet" />
	</head>
	
	<body>
		<div class="container-fluid content">	
			<div class="row">
				<div class=" ">
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default bk-bg-white">
								<div class="panel-heading bk-bg-white">
									<h6><i class="fa fa-plus-square-o red"></i>Excel&nbsp;文件上传</h6>
								</div>
								<div class="panel-body">									
									<div class="alert alert-info">
										<!--<button type="button" class="close" data-dismiss="alert">×</button>-->
										模板下载
									</div>										  
									<div class="form-group">
										<!--<label class="control-label">File Upload</label>-->
										<div class="controls">
											<div id="dropzone">
												<form action="test.html" class="dropzone">
													<div class="fallback">
														<input name="file" type="file" multiple="" />
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			
		
		<div class="clearfix"></div>

		<script src="vendor/js/jquery-2.1.1.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		
		<script src="plugins/dropzone/js/dropzone.min.js"></script>
		
		<script src="js/jquery.mmenu.min.js"></script>
		<script src="js/core.min.js"></script>
		
		<script src="js/upload.js"></script>
	</body>
</html>