<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8" />
		<title>RA-网络安全风险评估系统</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		
		<link href="css/jquery.mmenu.css" rel="stylesheet" />
		
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/add-ons.min.css" rel="stylesheet" />
	</head>
	
	<body>
		<div class="container-fluid content">	
			<div class="row">
				<div class="sidebar-minified">			
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="panel panel-default bk-bg-white">
								<div class="panel-heading bk-bg-white">
									<h6><i class="fa fa-table red"></i><span class="break"></span>项目信息表</h6>							
								</div>
								<div class="panel-body">
									<table class="table table-bordered table-striped" id="datatable-default">
										<tbody>
											<tr class="gradeX">
												<td width="150px">项目名称</td>
												<td>项目1</td>
											</tr>
											<tr class="gradeX">
												<td>项目时间</td>
												<td>2017-10-10</td>
											</tr>
											<tr class="gradeX">
												<td>项目描述</td>
												<td>。。。。。。。。。。</td>
											</tr>
											<tr class="gradeX">
												<td>评估范围</td>
												<td>该系统是一个基于 B/S 架构的办公自动化系统，系统建设目标是将传统手工，纸
													面，封闭的运作方式转换成自动、电子、开放的方式，提高行政管理及相关业务的工
													作质量和效率，并为全面信息化建设做好准备工作。<br />
													使用该系统的部门包括行政办公室、财务室、业务一处、业务二处、秘书处、信
													息中心,日常用户数为 120 人；管理该系统的部门主要为秘书处、信息中心，其中秘
													书处主要负责系统的业务管理，信息中心主要负责系统的技术保障。
												</td>
											</tr>
											<tr class="gradeX">
												<td>系统功能</td>
												<td>
													该系统主要功能包括：<br />
													1) 各部门协同办公系统，主要功能包括非涉密电子公文交换、公文流转、通知
													公告、资料交换、事务呈签等日常办公功能。<br />
													2) 综合资料管理系统，实现文档的一体化管理，各种类型的信息按分类和分级
													管理，提供完善的查询检索功能。<br />
													3) 若干辅助办公系统，主要包括请示报告处理系统、简易发文系统、短信、电
													子邮件、局领导日程安排、个人日程安排等。
												</td>
											</tr>
											<tr class="gradeX">
												<td>网络拓扑图</td>
												<td>
													<img src="img/logo.png" />
												</td>
											</tr>
											<tr class="gradeX">
												<td>依据文件</td>
												<td>
													1) 国家信息化领导小组《关于加强信息安全保障工作的意见》（中办发〔2003〕
													27 号）<br />
													2) 国家网络与信息安全协调小组《关于开展信息安全风险评估工作的意见》（国
													信办〔2006〕 5 号）<br />
													3) 深圳市关于开展信息安全风险评估工作的实施意见（深科信〔2006〕 268 号）<br />
													4) 信息安全技术 信息安全风险评估规范（GB/T20984-2007）<br />
													5) 信息技术安全技术信息技术安全性评估准则（GB/T18336-2001）<br />
													6) 电子计算机场地通用规范（GB/T2887-2000）
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="panel panel-default bk-bg-white">
								<div class="panel-heading bk-bg-white">
									<h6><i class="fa fa-table red"></i><span class="break"></span>评估工作组</h6>							
								</div>
								<div class="panel-body">
									<table class="table table-bordered table-striped" id="datatable-default">
										<thead>
											<tr>
												<th>组名</th>
												<th>小组组长</th>
												<th>小组成员</th>
											</tr>
										</thead>
										<tbody>
											<tr class="gradeX">
												<td>资产识别小组</td>
												<td>123</td>
												<td>A、B、C、D</td>
											</tr>
											<tr class="gradeX">
												<td>脆弱性识别小组</td>
												<td>123</td>
												<td>A、B、C、D</td>
											</tr>
											<tr class="gradeX">
												<td>威胁识别小组</td>
												<td>123</td>
												<td>A、B、C、D</td>
											</tr>
											<tr class="gradeX">
												<td>风险分析小组</td>
												<td>123</td>
												<td>A、B、C、D</td>
											</tr>
											<tr class="gradeX">
												<td>应急分析小组</td>
												<td>123</td>
												<td>A、B、C、D</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						
					</div>					   
				</div>
			
			</div>
		</div>
		
		<div class="clearfix"></div>		
		
		<script src="vendor/js/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		
		<!--<script src="js/jquery.mmenu.min.js"></script>
		<script src="js/core.min.js"></script>-->
		
		<!--<script src="js/pages/table-advanced.js"></script>-->
	</body>
</html>