<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>项目列表</title>
</head>
<body style="width:1024px;margin:auto">
     
		<h1 align="center">我创建的项目列表</h1>
		<a href="/pro/projectForm">添加项目</a>
		<p th:if="${nul==projects ||projects.size()==0 }" align="center">我没有创建相关项目</p>
		<table border="1" align="center" width="100%" th:if="${projects.size() != 0}">
			<thead>
				<tr bgcolor="orange">
					<td align="center" >序号</td>
					<td style="display:none;">ID</td>
					<td>项目名字</td>
					<td>创建时间</td>
					<td>项目描述</td>
					<td>操作</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project,iterState:${projects}">
					<td th:text="${iterState.count}" align="center">1</td>
					<td th:text="${project.id}" style="display:none;"></td>
					<td> <a th:text="${project.name}" th:attr="href='/pro/projectForm/'+${project.id}"></a></td>
					<td th:text="${project.createDate}"></td>
					<td th:text="${project.description}"></td>
					<td>
						<a th:attr="href='/pro/delProject/'+${project.id}">删除</a>
						<a th:attr="href='/pro/projectForm/'+${project.id}">修改</a>
					</td>
				</tr>
			</tbody>
	</table>
	<hr />
		<h1 align="center">我参加的项目</h1>
		<p th:if="${nul==joinProjects ||joinProjects.size()==0 }" align="center">我没有参与相关项目！</p>
		<table border="1" align="center" width="100%" th:if ="${joinProjects.size() != 0}">
			<thead>
				<tr bgcolor="orange">
					<td align="center">序号</td>
					<td style="display:none;">项目ID</td>
					<td>项目名称</td>
					<td>创建时间</td>
					<td>项目描述</td>
					<td style="display:none;">所属成员组序号</td>
					<td>所属成员组</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project,iterState:${joinProjects}">
					<td th:text="${iterState.count}" align="center">1</td>
					<td th:text="${project.projectId}" style="display:none;"></td>
					<td ><a th:text="${project.projectName}" th:attr="href='/pro/projectMain/'+${project.projectId}+'/'+${project.groupIds}"></a></td>
					<td th:text="${project.createDate}"></td>
					<td th:text="${project.projectInfo}"></td>
					<td th:text="${project.groupIds}" style="display:none;"></td>
					<td th:text="${project.groupName}"></td>
				</tr>
			</tbody>
	</table>
		
</body>
</html>